@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  padding-inline: 100px;
  background-color: #fff0de;
  overflow-x: hidden;
  z-index: 100;
  max-width: 1440px;
  margin: 0 auto;
}

.font-playfair {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

@media screen and (max-width: 655px) {
  body {
    padding-inline: 50px;
  }
}

@media screen and (min-width: 1620px) {
  .image-stay {
    /* top: 0; */
    right: auto;
  }
}
